{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block extra_css %}
    <link href="{% static 'css/smartWizard/smart_wizard.css'%}"  rel="stylesheet" type="text/css" />
    <link href="{% static 'css/smartWizard/smart_wizard_theme_arrows.css'%}"  rel="stylesheet" type="text/css" />
    <link href="{% static 'css/smartWizard/smart_wizard_theme_dots.css'%}"  rel="stylesheet" type="text/css" />
    <link href="{% static 'css/add_pet_post.css'%}"  rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="row">
    <div class="text-left col-md-12 col-xl-12 col-lg-12 ">&nbsp; &nbsp; &nbsp;
        <div>
          <legend> Añadir nueva publicación </legend>
        </div>
        <div id='wizard-main-container' class="col-md-10 col-sm-12 offset-md-1">
            <div class="w-100">
              <form id="add_pet_post_form" action="{% url 'posts:add_pet_post' %}" method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                <div id="smartwizard" class="col-md-12 sw-theme-dots">
                    <ul>
                      <li><a href="#step-1">Estado y ubicación <br /></a></li>
                      <li><a href="#step-2">Datos del animal<br /></a></li>
                      <li><a href="#step-3">Informacion extra<br /></a></li>
                      <li><a href="#step-4">Adjuntar imagenes<br /></a></li>
                    </ul>

                    <div id="wizard-container" class="col-12">
                      <div id="step-1" class="col-md-12">
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <div class='form-group'>
                                <label> {{ pet_form.status.label }} </label>
                                {% render_field pet_form.status class="form-control"  %}
                            </div>
                            <div class='form-group'>
                                <label> {{ pet_form.location.label }} </label>
                                {% render_field pet_form.location class="form-control"  %}
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class='form-group'>
                                <label> {{ pet_form.neighborhood.label }} </label>
                                {% render_field pet_form.neighborhood class="form-control"  %}
                            </div>
                            <div class='form-group'>
                                <label> {{ pet_form.state.label }} </label>
                                {% render_field pet_form.state class="form-control"  %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="step-2" class="col-md-12">
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <div class='form-group'>
                                <label> {{ pet_form.type.label }} </label>
                                {% render_field pet_form.type class="form-control" %}
                            </div>
                            <div class='form-group'>
                                <label> {{ pet_form.age_estimation.label }} </label>
                                {% render_field pet_form.age_estimation class="form-control" %}
                            </div>
                            <div class='form-group'>
                                <label> {{ pet_form.sex.label }} </label>
                                {% render_field pet_form.sex  class="form-control"%}
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <div class='form-group'>
                                <label> {{ pet_form.color.label }} </label>
                                {% render_field pet_form.color class="form-control" %}
                            </div>
                            <div class='form-group'>
                                <label> {{ pet_form.size.label }} </label>
                                {% render_field pet_form.size class="form-control" %}
                            </div>
                            <div class='form-group'>
                                <label> {{ pet_form.hair.label }} </label>
                                {% render_field pet_form.hair class="form-control"  %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="step-3" class="">
                        <div class="row">
                          <div class="col-md-10 col-sm-12 offset-md-1">
                            <div class='form-group'>
                                <label> {{ pet_form.short_description.label }} </label>
                                {% render_field pet_form.short_description class="form-control"  %}
                            </div>
                            <div class='form-group'>
                                <label> {{ pet_form.full_description.label }} </label>
                                {% render_field pet_form.full_description class="form-control" %}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="step-4" class="">
                          {{pet_images_formset.management_form}}
                          <div id="pet_image_form-container">
                            <div class="row offset-md-1">
                            {% for pet_image_form in pet_images_formset %}
                              <div class='form-group col-md-5 col-sm-12 image-label'>
                                <label class="pet-image-handler" for="{{pet_image_form.image.auto_id}}">
                                  <figure>

                                    <img class='pet-image-display' id="img-{{pet_image_form.auto_id}}" src='{% static "img/add_image_placeholder.png" %}' />
                                    {% render_field pet_image_form.image class="form-control d-none pet-image-input" %}
                                  </figure>
                                </label>
                              </div>
                            {% endfor %}
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script type='text/javascript' src='{% static "js/smartWizard/smartWizard.js"%}'></script>
    <script type='text/javascript'>
			var btnFinish = $('<button></button>').text('Publicar')
        .addClass('btn btn-success')
        .on('click', function(){ $('#add_pet_post_form').submit()});

      $(document).ready(function(){
        $('#smartwizard').smartWizard({
          lang: {next: 'Siguiente', previous: 'Anterior'},
          toolbarSettings: {
            toolbarExtraButtons: [btnFinish]
          }
        });
      });
    </script>
    <script type='text/javascript'>
      function displayImg(source, display){
        if (source.files && source.files[0]) {
          let reader = new FileReader();
          reader.onload = (e) => {
            $(display)
              .attr('src', e.target.result);
          }
          reader.readAsDataURL(source.files[0]);
        }
      }

      $(document).ready(function(){
        $('input.pet-image-input').on('change', function(event){
          let source = event.currentTarget;
          let display = event.currentTarget.previousElementSibling;
          displayImg(source, display);
        })
      })
    </script>
{% endblock %}
