{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        {% block title %} <title>Blank Template for Bootstrap</title> {% endblock %}
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/fontAwesome/css/all.min.css'%}"  rel="stylesheet" type="text/css" />
        <!-- Custom styles for this template -->
        {% block extra_css %} {% endblock %}
    </head>
    <body>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-bg navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/LOGO.png' %}" width="48px" height="48px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto lead font-weight-bold">
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'posts:list_pet_posts'%}">Encontra a tu mascota</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts:add_pet_post' %}">Publicar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Donaciones!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Conócenos</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <div class="dropdown">
                        {% if request.user.is_authenticated %}
                        <a class="btn dropdown-toggle btn-light d-inline font-weight-bold" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> {{request.user.username}}
</a>
                        <div class="dropdown-menu text-left dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a href="#" class="dropdown-item">Ver Perfil</a>
                            <a class="dropdown-item" href="#">Mis Publicaciones</a>
                            <a class="dropdown-item" href="/logout">Salir</a>
                        </div>
                        {% else %}
                        <a class="btn btn-outline-warning d-inline" href="/login/" ><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </nav>
        <div class="container col-11 mt-5 mt-sm-5 mt-md-5 mt-lg-5 mt-xl-5 pt-5 pt-sm-5 pt-md-5 pt-lg-5 pt-xl-5 ">
        {% block content %}
        {% endblock %}
        </div>
        <footer id='footer' class="col-12 text-center">
            <section id='inFooter'>
            <h1>Sobre Nosotros</h1>
                <div class="col-8 offset-2 text-center">

                <p>Este proyecto tiene como objetivo ayudar a que los usuarios localicen sus mascotas extraviadas y a que las mascotas que se hallan perdidas puedan reencontrarse con sus dueños.</p>

                <p>Partimos del problema que hay cuando se pierde o encuentra un animal, por lo general utilizamos redes sociales para encontrarlos, pero la información se pierde entre publicaciónes y esta dispersa en la web.</p>

                <p>Con este sistema se podría unificar los focos para encontrarse con su mascota rapidamente, ya que permite utilizar filtros de busqueda por tipo de animal, zona en que fue encontrado o se perdio, color, tamaño, sexo entre otros.</p> 

                </div>

            </section>
	    <p id='copy-rights'>&copy; Copyright 2019 | CanMoBit</p>
        </footer>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block extra_js %} {% endblock %}
    </body>
</html>
