{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
    <div class="pb-3 col-md-6 offset-md-3 col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 ">&nbsp; &nbsp; &nbsp;
      <div class="text-center">  
        <h1>¡Bienvenido!</h1><br>
      </div>
        <form action="/login/" method="POST" >
        {% csrf_token %}
          <div class="field-container col">
            <label for="{{form.username.auto_id}}">{{form.username.label}}</label><br>
            {% render_field form.username class="form-control" %}
            {{form.username.errors}}
          </div>
          <div class="field-container col">
            <label for="{{form.password.auto_id}}">{{form.password.label}}</label><br>
            {% render_field form.password class="form-control" type="password" %}
            {{form.password.errors}}
          </div>
          <div class="field-container text-center">
            <input  class="btn btn-success" type="submit" value="Iniciar Sesión">
          </div>
          <div class="text-center">
            <a href="/register"> ¿No eres usuario?, Registrate!</a>
          </div>
        </form>
    </div>
</div>
{% endblock %}
