{% extends 'base.html' %}
{% load static thumbnail %}
{% block content %}
<div class="row">
    <div class="text-left col-md-6 col-xl-6 col-lg-6 ">&nbsp; &nbsp; &nbsp;
        <div id="carousel1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              {% for image in pet_post.pet_images.all %}
	      {% thumbnail image.image "850x520" crop="center" as img %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                  <img class="d-block w-100" src="{{img.url}}" alt="slide-{{forloop.counter}}" height="100%" width="100%">
                </div>
	      {% endthumbnail %}
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
        </div>
        <div class="row mt-2 mt-sm-2 mt-md-2 mt-lg-2 mt-xl-2 pt-xl-3 pt-lg-3 pt-md-3 pt-sm-3 pt-3 pl-xl-4 pl-lg-4 pl-md-4 pl-sm-4 pl-4">
            <div class="w-100">
              {% with pet_post.created_by as user %}  
              <details>
                    <summary class="d-block text-left">
                        <h3 class="text-right d-inline-flex">
                          Información de Contacto</h3>
                    </summary>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <td>{{user.first_name}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Telefono</th>
                                <td>{{user.telephone}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Correo Electronico</th>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Dirección</th>
                                <td>{{user.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </details>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="text-left col-md-6 ">
        <div class="row">
            <h3 class="ml-2 ml-sm-2 ml-md-2 ml-lg-2 pl-lg-1 ml-xl-2">Datos</h3>
            <div class="col-md-12 ml-2 ml-sm-2 ml-md-2 ml-lg-2 ml-xl-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>{{pet_post.get_type_display}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Sexo</th>
                            <td>{{pet_post.get_sex_display}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Edad</th>
                            <td>{{pet_post.get_age_estimation_display}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Lugar</th>
                            <td>{{pet_post.location}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Estado</th>
                            <td>{{pet_post.get_status_display}}</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Rasgos</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Color</th>
                            <td>{{pet_post.color}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Pelaje</th>
                            <td>{{pet_post.hair}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Tamaño</th>
                            <td>{{pet_post.get_size_display}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Caracterisistiacas especiales&nbsp;</th>
                            <td>{{pet_post.short_description}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Otros</th>
                            <td>{{pet_post.full_description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
