{% extends "base.html" %}
{% load static thumbnail %}
{% block extra_css %}
    <link href="{% static 'css/publications.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row filters-container col-12">
    {% for filter_label, filter_field, filter_dict in filters_dicts %}
    <div class='col-md-2'>
        <label for='filter-{{filter_field}}'> {{filter_label}} </label>
        <select id='filter-{{filter_field}}' class='form-control filter-select' data-filter_field={{filter_field}}>
            <option value='all'>Todos</option>
            {% for key, value in filter_dict %}
                <option value='{{key}}' {% if key in request.active_filters %} selected {% endif %}>{{value}}</option>
            {% endfor %}
        </select>
    </div>
    {% endfor %}
</div>
<div class="row posts-container mb-lg-5 mb-sm-5 mb-5 mb-md-5 mb-xl-5">
  {% for obj in objs %}
    <div class="col-md-3 post-container">
	{% thumbnail obj.pet_images.first.image '350x300' crop='center' as img %}
      <img src="{{img.url}}" width="100%">
      {% endthumbnail %}
      <span><strong>{{obj.get_type_display}} {{obj.get_sex_display}}</strong></span>
      <span><strong>{{obj.get_status_display}}</strong></span>
      <p> <small>{{obj.creation_date}}</small> <br> <small>{{obj.location}}</small> </p>
      <a name="anchor" class="btn btn-primary text-right float-right" href="{% url 'posts:pet_post_detail' pet_id=obj.pk %}">Ver mas</a>
    </div>
    {% empty %}
    <div class="col-md-8 text-center">
      <h2> No hay publicaciones </h2>
    </div>
  {% endfor %}
</div>
<div class="row text-center d-flex justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
{% block extra_js %}
    <script type='text/javascript'>

        function filterQueryString(field, value){
            let current = window.location.search;
            let queryString = new URLSearchParams(current);
            if (queryString.has(field)){
                queryString.delete(field);
            }
            queryString.append(field, value);
            return queryString.toString();
        }

        $(document).ready(function(){
            pet_active_filters = localStorage;
            $('select.filter-select').on('change', function(event){
                let filter = event.currentTarget;
                let field = filter.getAttribute('data-filter_field');
                let value = filter.value;
                pet_active_filters.setItem(field, value);
                window.location.search = filterQueryString(field, value);
            });
        })

    </script>
{% endblock %}
