div#smartwizard {
  box-shadow: 0 0 12px 4px #d8d8d8;
  padding: 2rem 2rem;
}

div#wizard-container {
	margin-top: 2rem;
}
div#wizard-main-container {
	margin-bottom: 4rem;
}

div.image-label {
	text-align: center;
  width: 100%
}

i.fa-plus-circle {
  color: green;
  position: absolute;
  top: 30%;
  right: 42%;
	border: 1px solid;
	background: white;
	border-radius: 10rem;
}

i.fa-plus-circle:hover {
  color: darkgreen;
}

figure {
  width: 100%;
  background: #eee;
  max-height: 195px;
  overflow: hidden;
  margin: 0;
  box-shadow: 0 0 5px 1px #9e9e9e;
  transition: 200ms;
}

figure:hover {
  box-shadow: 0 0 8px 4px #9e9e9e;
}

figure img {
  display: block;
  width: 100%;
}


legend {
	border-bottom: 2px solid #eee;
	margin-bottom: 3rem;
}
