:root {
  --prussianBlue: #003659;
  --blueChill: #0b99a7;
  --puertoRico: #37c4aa;
  --padua: #b6e9c1;
  --feta: #eefbeb;
  --imperialPurple: #541d61;
  --wildAster: #8f3066;
  --popstar: #c05166;
  --roasterSienna: #E88666;
  --prussianBlueTransition: linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(1,39,75,1) 0%, rgba(0,54,89,1) 15%, rgba(11,153,167,1) 100%);
}

.navbar-bg {
  background: var(--prussianBlueTransition);
}
div#smartwizard {
  background-color: white;
}

div#smartwizard ul.nav-tabs {
  display: flex;
  justify-content: center;
}
.nav-link {
  font-size: 16px;
}

.pb-3 {
  padding-bottom: 3rem!important;
}

div.container {
    margin-top: 5rem!important;
    background-color: var(--feta);
    box-shadow: 0 0 18px 3px #d6d6d6;
}

body {
    background-color: var(--padua);
}

footer#footer {
	background: var(--prussianBlueTransition);
  padding-bottom: 1rem;
}

p#copy-rights{
	color: white;
	font-size: 15px;
}


section#inFooter {
	color: white;
	padding-top: 2rem;
	font-style: oblique;
	padding-bottom: 2rem;
}

section#inFooter h1 {
	border-bottom: 2px solid white;
	margin-bottom: 1rem;
	margin-bottom: 2rem;
}

section#inFooter {
	font-size: 14px;
}

.field-container {
  padding: 1rem 0rem;
}
