div.posts-container {
  justify-content: center;
}

div.post-container {
	border: 1px solid #eee!important;
  border-radius: 10px;
  background: #ececec;
  padding: 1rem 1rem;
  background-color: white;
  box-shadow: 0 0 9px 3px #b3afaf;
  transition: 300ms;
  margin: 1rem 1rem;
}

div.post-container:hover {
  background: #efefef;
  transition: 300ms;
  box-shadow: 0 0 20px 0px #1d1d1d;
}

div.post-container img {
  border-radius: 10px;
  margin-bottom: 10px;
}

div.filters-container {
    margin-bottom: 2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
}

div.filters-container div {
    margin-bottom: 1rem;
}
